<html>
    <head>
        <title>
            <%=locals. title %>
        </title>

    </head>
    <body>
        <ul>
            <h1>playground</h1>
            <% for (let i=1;i<6;i++) {%>
                <li>
                    <%= i%>
                </li>
                <%}%>

        <% if(false )  {%>
            <h1>It's true!</h1>

            <%}  else {%>
                <h1>its false</h1>
                <%}%>
            

        </ul>
    </body>
</html>


